<div>


</div>


<div class="card">
  <div class="card-header">
    <h5 class="card-title titulo-card">Clientes</h5>
  </div>
  <div class="card-body p-4">
    <table class="table table-striped border border-1">
      <caption></caption>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Initial Balance</th>
        <th scope="col">Credit Card Limit</th>
      </tr>
      </thead>
      <tbody>
      <tr class=" border border-1" *ngFor="let cliente of clientes; let i = index">
        <td><input id="credito" class="form-check-input" type="checkbox"
                                                  value="{{ clientesSelecionados[cliente.Email] }}"
                                                  (click)="selecionarCliente(cliente.Email)"></td>
        <td>{{ cliente.Name }}</td>
        <td>{{ cliente.Email }}</td>
        <td>{{ cliente.Address }}</td>
        <td>{{ cliente.Account.initialBalance }}</td>
        <td>{{ cliente.Account.creditCardLimit }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-1 p-0" style="background-color: aquamarine">
    <div class="row">
      <div class="col-sm-12">
        <div class="float-end p-2">
          <a class="btn btn-danger" (click)="excluirSelecionados()">Excluir Selecionados</a>
        </div>
      </div>
    </div>
  </div>
</div>


